torch
torchvision
torch-tb-profiler==0.4.3
tensorboardx==2.6.2.2
tensorboard==2.16.2
olefile==0.47
einops==0.7.0
efficientnet_pytorch==0.7.1
zetascale==1.2.5
classifier-free-guidance-pytorch==0.5.3
tensorboardX